@using System.Linq
@using AssessmentNet.Models
@model AssessmentNet.Models.Test

@{
    ViewBag.Title = "Questions for " + Model.Name;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Add New Question","AddQuestion", new{id = Model.Id})</p>

<table class="table table-bordered table-striped">
    <colgroup>
        <col span="1" style="width: 150px;" />
        <col span="1" />
        <col span="1" style="width: 150px;" />
    </colgroup>
    <thead>
        <tr>
            <th>Allowed Time</th>
            <th>HTML</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MultiChoiceQuestion item in Model.Questions.OfType<MultiChoiceQuestion>())
        {
            Html.RenderPartial("_MultiChoiceQuestionRow", item);
        }
    </tbody>
</table>
